<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="openvisionlab-integration-contracts" value="third_party/OpenVisionLabIntegrationContracts" />
    <add key="openvisionlab-vision-sdk" value="third_party/OpenVisionLabVisionSdk" />
    <add key="wpg-custom" value="third_party/WpgCustom" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
