<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<logger name="OpenVisionLab.All" additivity="true">
			<level value="ALL" />
			<appender-ref ref="AllFile" />
		</logger>

		<logger name="OpenVisionLab.Warning" additivity="true">
			<level value="ALL" />
			<appender-ref ref="WarningFile" />
		</logger>

		<logger name="OpenVisionLab.Error" additivity="true">
			<level value="ALL" />
			<appender-ref ref="ErrorFile" />
		</logger>

		<logger name="OpenVisionLab.Debug" additivity="true">
			<level value="ALL" />
			<appender-ref ref="DebugFile" />
		</logger>

		<appender name="AllFile" type="log4net.Appender.RollingFileAppender">
			<file value="Log\OpenVisionLab-ALL.log" />
			<datePattern value="'.'yyyy-MM-dd" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="20" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>

		<appender name="WarningFile" type="log4net.Appender.RollingFileAppender">
			<file value="Log\OpenVisionLab-Warning.log" />
			<datePattern value="'.'yyyy-MM-dd" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="20" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>

		<appender name="ErrorFile" type="log4net.Appender.RollingFileAppender">
			<file value="Log\OpenVisionLab-Error.log" />
			<datePattern value="'.'yyyy-MM-dd" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="20" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>

		<appender name="DebugFile" type="log4net.Appender.RollingFileAppender">
			<file value="Log\OpenVisionLab-Debug.log" />
			<datePattern value="'.'yyyy-MM-dd" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="20" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>
